* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


/*.clear:after {
    content: " ";
    clear: both;
    display: block;
}*/

body {
	background-color: #017D88;
}

.navbar {
	color: white;
	font-family: 'KoHo', sans-serif;
	padding: 10px;
	border: 5px solid white;

}

h1 {
	border-bottom: 5px solid white;
	font-size: 29px;
}

h2 {
	font-size: 15px;
}


